
<div class="box">
  <ng4geo-autocomplete (componentCallback)="autoCompleteCallback1($event)" (userSettings)="userSettings2"></ng4geo-autocomplete>
  <!--<input
      type="search"
      placeholder="Search for place"
      autocomplete="on"
      autocapitalize="off"
      autofocus
      id="streetAddress"
      #search
      (keyup)="onSearch(search.value)"/> -->

  <div class="gmap">
      <agm-map [zoom]="zoom" style="width: 600px;height:600px" [latitude]="lat" [longitude]="lng">
        <agm-marker-cluster imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m">
            <agm-marker *ngFor="let element of locations; let i = index" [latitude]="element.location.split(',')[0]"
              [longitude]="element.location.split(',')[1]" (markerClick)="clickedMarker(element,i)" >
            </agm-marker>
        </agm-marker-cluster>
      </agm-map>
    </div>
</div>
